# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./waa-front-end/node_modules
/waa-front-end//.pnp
/waa-front-end/.pnp.js

# testing
/waa-front-end/coverage

# production
/waa-front-end/build

.idea/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
