# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/waa-frontend/node_modules
/waa-frontend//.pnp
/waa-frontend/.pnp.js

# testing
/waa-frontend/coverage

# production
/waa-frontend/build

.idea/
.vscode/


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

HELP.md
/waa-backend/target/
/waa-backend/!.mvn/wrapper/maven-wrapper.jar
/waa-backend/!**/src/main/**/target/
/waa-backend/!**/src/test/**/target/

### STS ###
/waa-backend/.apt_generated
/waa-backend/.classpath
/waa-backend/.factorypath
/waa-backend/.project
/waa-backend/.settings
/waa-backend/.springBeans
/waa-backend/.sts4-cache

*.iws
*.iml
*.ipr

### NetBeans ###
/waa-backend/nbproject/private/
/waa-backend/nbbuild/
/waa-backend/dist/
/waa-backend/nbdist/
/waa-backend/.nb-gradle/
/waa-backend/build/
/waa-backend/!**/src/main/**/build/
/waa-backend/!**/src/test/**/build/
